[Unit]
Description=gunicorn instance to serve FastAPI app
After=network.target

[Service]
User=dennis
Group=dennis
WorkingDirectory=/home/dennis/app/src/
Environment="PATH=/home/dennis/app/venv/bin"
ExecStart=/home/dennis/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target